{
  "trailingComma": "all",
  "printWidth": 140,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "arrowParens": "avoid",
  "importOrder": ["<THIRD_PARTY_MODULES>", "^@rpg-village/", "^@\/", "^\\."],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["classProperties", "typescript", "decorators-legacy"],
  "importOrderSortSpecifiers": true
}
