@import "./var.scss";

button {
  display: inline-block;
  color: $color-white;
  border-radius: $border-radius;
  padding: $unit;
  border: none;
  background-color: $color-light-gray;
  margin: $unit;

  &.active {
    background-color: $color-active;
  }

  &.block {
    display: block;
    width: 100%;
  }
}
