.village {
  display: flex;
  flex-wrap: wrap;

  > div {
    margin: 25px;
    flex: 0 0 15%;
    padding: 15px;
    border: 1px solid black;
    background-color: rgba(#000000, 0.2);
    cursor: pointer;
    user-select: none;
  }
}
