.header {
  background-color: #333d47;
  color: #fff;
  box-shadow: 0 4px rgba(#000, 0.2);
  font: 900 0.8rem 'Montserrat', sans-serif;
  
  display: flex;
  justify-content: space-between;

  .dev-toolbox-button {
    width: 125px;
  }
}
