.item-list {
  .items {
    width: 800px;
  }

  .item-slot {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 4px;
    border: 1px solid black;
    box-sizing: content-box;

    &-selected {
      border: 1px solid red;
    }
  }

  &--small {
    .item-slot {
      width: 32px;
      height: 32px;
    }
  }
}
