@import '../../style/var.scss';

.villagestats__list {
  margin: 0 $unit;
  padding-left: 0;
  list-style-type: none;
  align-self: center;
  display: flex;

  &-item {
    display: inline-block;
    padding: $unit;
    text-shadow: 1px 1px $color-black;
    color: $color-white;

    &-icon {
      display: inline-block;
      vertical-align: middle;
    }
  }
}