.hero {
  padding: 10px;

  &:nth-child(2n) {
    background-color: rgba(lighten(#333d47, 10%), 0.3);
  }

  &__name {
    color: #ffd42a;
    font-weight: 900;
    text-shadow: 1px 1px #000;
  }

  &__activity {
    display: inline-block;
    background-color: lighten(#333d47, 10%);
    border-radius: 10px;
    padding: 0 10px;
    box-shadow: 0 2px rgba(#000, 0.6) inset;
    font-weight: 900;
    text-shadow: 1px 1px #000, -1px -1px #000;
    min-width: 30%;

    &__icon {
      display: inline-block;
      vertical-align: middle;
    }
  }
}