{
  "trailingComma": "all",
  "printWidth": 140,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@(core|lib|game)/?",
    "@rpg-village/core",
    "@rpg-village/features",
    "@rpg-village/village-manager",
    "^@features/?",
    "^@/",
    "^@test/",
    "public-api$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderSortSpecifiers": true
}
